.main {
    
    max-width: 100%;
    z-index: 100;
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translateY(-10%);
    
    &__navigation {
        display: flex;
        width: 2660px;
        max-width: 100%;
        background: #1F2326;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #1F2326;
        border-radius: 32px 28px 0px 0px;
        z-index: 1001;
        margin: 0 auto;
        padding: 20px 50px;
        .logo-wrapper {
            display: flex;
            justify-content: space-around;
            .divider {
                width: 2px;
                height: 50px;
                background: white;
                margin-left: 50px;
            }
        }
        &-rightbar {
            display: flex;
            align-items: center;
            color: white;
            gap: 50px;
            font-family: "Montserrat", sans-serif;
            font-style: bold;
            font-size: 14px;
            img {
                width: 100px;
                border-radius: 100%;
            }
        }
        .sublogo {
            margin-left: 50px;
        }
        &-menu {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 50px;
            li {
                color: white;
                margin: 0 50px;
                font-family: "Montserrat", sans-serif;
                font-style: bold;
                font-size: 14px;
            }
        }
        
    }


}
.main {
    &__footer {
        width: 2660px;
        height: 132px;
        background-color: white;
        border-bottom: 1px solid white;
        border-radius: 0px 0px 40px 40px;
    }
}